html {
    height: 100%;
    font-family: 'Roboto', sans-serif;
    body {
        height: 100%;
        min-height: 100%;
        #root {
            height: 100%;
            min-height: 100%;
        }
    }
}