.login-block {
	background-image: url("../assets/login_bg.jpg");
	background-repeat: no-repeat;
	height: 100%;
    min-height: 100%;
    background-size: cover;
	.form-block {
		position: relative;
		top: 50%;
		transform: translateY(-50%);
		.app-logo {
			margin-bottom: 69px;
		}
		.alert {
			font-size: 14px;
		}
		.login-form {
			max-width: 363px;
			.input-group {
				height: 58px;
				&.is-invalid {
					margin-bottom: 32px;
				}
				.input-group-prepend {
					.input-group-text {
						color: #cccccc;
						background-color: #fff;
						border: none;
						padding: 0 13px 0 25px;
					}
				}
				input {
					height: 58px;
					border: none;
					font-size: 16px;
					font-weight: 300;
					line-height: 30px;
					letter-spacing: 0.4px;
					color: #999;
					padding-left: 0;
					border-radius: 0 5px 5px 0;
					&::placeholder {
						color: #b3b3b3;
						opacity: 1;
						letter-spacing: 0.4px;
					}
					&:-ms-input-placeholder {
						color: #b3b3b3;
						letter-spacing: 0.4px;
					}
					&::-ms-input-placeholder {
						color: #b3b3b3;
						letter-spacing: 0.4px;
					}
					&:focus {
						box-shadow: none;
						outline: 0;
					}
				}
				.inline-errormsg {
					position: absolute;
					bottom: -23px;
					color: #dc3545;
					font-size: 14px;
				}
			}
			.submit-btn {
				font-size: 16px;
				line-height: 30px;
				font-weight: 700;
				color: #fff;
				background: #9fd533;
				border: none;
				padding: 14px 0;
				&:hover {
					background: #86b300;
				}
				&:focus, &:active {
					outline: 0;
					box-shadow: none;
				}
			}
		}
	}
}