.header-wrapper {
	padding: 40px 15px;
	.app-logo {
		padding: 6px 0;
	}
	.logout-btn {
		color: #2f3254;
		font-size: 14px;
		line-height: 30px;
		letter-spacing: 0.35px;
		font-weight: 300;
		border: none;
		&:hover {
			color: #99cc33;
			background: transparent;
		}
		&:focus{
			outline: 0;
			box-shadow: none;
		}
		&:active {
			outline: 0 !important;
			box-shadow: none !important;
			background-color: transparent !important;
			border-color: transparent !important;
			color: #99cc33!important;
		}
	}
}
.table-area {
	position: relative;
	z-index: 0;
	margin-top: 60px;
	height: calc(100% - 184px);
    overflow: auto;
	.table {
		&.tableFixHead {
			.servers-table-head {
				background: #f5f5f5;
				position: fixed;
				top: 124px;
				left: 0;
				right: 0;
				width: 100%;
				tr {
					width: 100%;
					display: table;
					th {
						border-top: 1px solid #e6e6e6;
						border-bottom: 1px solid #e6e6e6;
						font-size: 14px;
						line-height: 30px;
						letter-spacing: 1.4px;
						color: #999999;
						text-transform: uppercase;
						padding: 18px 15px 11px 15px;
						&.light-font {
							font-weight: 300;
						}
					}
				}
			}
			tbody {
				tr {
					td {
						color: #666666;
						font-size: 16px;
						font-weight: 300;
						letter-spacing: 0.3px;
						border-color: #e6e6e6;
					}
				}
			}
		}
	}
}